{
  "presets": [
    [
      "minify",
      {
        "removeConsole": true,
        "removeDebugger": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
